
<div class="container main_container">


	<table class="button_table">
		<tr>
			<td><h3>登録情報</h3></td>
			<td><%= link_to "編集する", edit_public_customers_path(@customer), class: "btn btn-primary" %></td>
			<td><%= link_to "パスワードを変更する", edit_customer_registration_path(@customer), class: "btn btn-primary" %></td>
		</tr>
	</table>


<div class="row">
<div class="col-xs-4">
	<table class="table table-bordered">

	<tr>
		<td class="active">氏名</th>
		<td colspan=""><%= current_customer.family_name %> <%= current_customer.first_name %></td>
	</tr>
	<tr>
		<td class="active">カナ</th>
		<td><%= current_customer.family_rubi %> <%= current_customer.first_rubi %></td>
	</tr>
	<tr>
		<td class="active">郵便番号</th>
		<td><%= current_customer.postcode %></td>
	</tr>
	<tr>
		<td class="active">住所</th>
		<td><%= current_customer.address %></td>
	</tr>
	<tr>
		<td class="active">電話番号</th>
		<td><%= current_customer.tell %></td>
	</tr>
	<tr>
		<td class="active">メールアドレス</th>
		<td><%= current_customer.email %></td>
	</tr>

	</table>
</div>
</div>


	<table class="button_table">
		<tr>
			<td><h3>配送先</h3></td>
			<td><%= link_to "一覧を見る", public_deliveries_path, class: "btn btn-primary" %></td>
		</tr>
		<tr>
			<td><h3>注文履歴</h3></td>
			<td><%= link_to "一覧を見る", public_orders_path, class: "btn btn-primary" %></td>
		</tr>
	</table>