<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<%= render "genre_select", genres: Genre.all %>
		</div>

		<div class="col-xs-10">
			<div class="row">
			<h2><%= @genre.name %>一覧(全<%= @genre.products.count %>件)</h2>
			</div>
			<% @genre_products.each do |product| %>
			<div class="list-box" style="display:inline-block;">
			    <%= attachment_image_tag product, :image, :fill, 200, 200, format: 'jpeg' %>
			    <div class="list-title">
			      <p><%= product.name %></p>
			      <p>¥<%= product.price%></p>
			    </div>
			 </div>
			<% end %>
		</div>
	</div>
</div>