<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-2">
			<h4>会員一覧</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<table class="table table-inverse">
				<thead>
					<tr class="active">
						<th>会員ID</th>
						<th cllspan="2">氏名</th>
						<th cllspan="2">メールアドレス</th>
						<th cllspan="2">ステータス</th>
					</tr>
				</thead>
				<tbody>
				<% @customers.each do |customer| %>
					<tr>
						<td><%= customer.id %></td>
						<td><%= link_to customer.family_name + customer.first_name, admin_customer_path(customer) %></td>
						<td><%= customer.email %></td>
						<td><%= customer.status_i18n %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="col-xs-offset-3">
			<%= paginate @customers %>
			</div>
		</div>
	</div>
</div>
