<div class="container main_container col-lg-10 col-lg-offset-1">
	<div class="cart_title">
		<h3>ショッピングカート</h3>
		<div class="destroy-all-btn col-xs-offset-10">
			<%= link_to "カートを空にする", cart_items_destroy_all_path(@cart_item), method: :delete, class: "btn btn-danger" %>
		</div>
	</div>

	<table class="table table-bordered cart_item-table">
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>

		<% @sum = 0 %>
		<% @cart_items.each do |cart_item| %>
			<tr>
				<td>
					<%= attachment_image_tag cart_item.product, :image, size:"75x50", format: 'jpeg'  %>
					<%= cart_item.product.name %>
				</td>
				<td class="small-td"><%= (cart_item.product.price * 1.10).floor(0).to_s(:delimited) %></td>
				<td class="small-td">
					<%= form_with model: @cart_item ,local: true, url: public_cart_item_path(cart_item), method: :patch do |f| %>
						<%= f.hidden_field :product_id %>
						<%= f.number_field :number, value: cart_item.number, min: 1, max: 10 %>個
						<%= f.submit "変更", class: "btn btn-primary" %>
					<% end %>
				</td>
				<td class="small-td">
					<%= (cart_item.product.price * cart_item.number * 1.10).floor(0).to_s(:delimited) %>
				</td>
				<td class="small-td btn-td">
					<%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
				</td>
			</tr>
			<% @sum += (cart_item.product.price * cart_item.number * 1.10).floor(0) %>
		<% end %>
	</table>

	<div class="price_table row col-xs-4 col-xs-offset-8">
		<table class="table table-bordered">
			<tr width="100" >
				<th>合計金額</th>
				<td><%= @sum.to_s(:delimited) %>  円</td>
			</tr>
		</table>
	</div>


	<div class="col-xs-offset-9">
		<%= link_to "買い物を続ける", public_products_path, class: "btn btn-primary" %>
			<%= link_to "情報入力へ進む", new_public_order_path, class: "btn btn-success" %>
	</div>

</div>
