
<div class="container container-new">
    <div class="row">
       <div class="col-md-5 image-file">
<h3>商品新規登録</h3>
<%= form_for(@product,url: admin_products_path) do |f| %>
<%= f.attachment_field :image %>
</div>
<div class="col-md-7">
  <h4>商品名</h4>
  <%= f.text_field :name, size: "50x10"  %>
  <h4>商品説明</h4>
  <%= f.text_area :introduction, size: "50x10"  %>
  <h4>ステータス</h4>
  <%= f.collection_select :genre_id, Genre.all,:id, :name, include_blank: "選択して下さい", size: "50x20" %>
  <h4>税抜価格</h4>
  <%= f.text_field :price, size: "50x20" %>円
  <h4>販売ステータス</h4>
  <%= f.select :status, Product.statuses.keys.map {|k| [I18n.t("enums.product.status.#{k}"), k]}, include_blank: "選択して下さい" %>
  <br>
  <br>
  <%= f.submit "新規登録",class:"btn-lg btn-primary" %>
<% end %>
      </div>˙
    </div>
</div>
